.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background:black;
    min-height: 100vh;
    padding: 20px;
  }
  
  .paper {
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    margin: 10px auto;
    background-color: #f50057;
  }
  
  .button {
    margin-top: 20px;
  }
  
  .chart-container {
    margin-top: 40px;
  }
  
  .bar-chart,
  .pie-chart {
    max-width: 600px;
    margin: 0 auto;
  }
  
  @media (max-width: 600px) {
    .chart-container {
      margin-top: 20px;
    }
  
    .bar-chart,
    .pie-chart {
      max-width: 100%;
    }
  }
  